/**
 * Fonts, Font-weights and Margin for headings, paragraphs etc are to defined in this file.
 */
html {
  font-family: $font-family--base;
  font-size: $font-size--base;
  font-size: $font-size--base / 16px * 100%;
  line-height: $line-height--base;
}
