/**
 * Custom colors are to be defined here
 */

/**
 * Standard
 */
$white: #ffffff !default;
$black: #000000 !default;

/**
 * Site Background
 */
$body-bg-color: $white;

/**
 * Text Colors
 */
$text-color: #333333 !default;

/**
 * Link Colors
 */
$link-color: #add8e6 !default;
$link-hover-color: #0000ff !default;

/**
 * Header Colors
 */
$header-bg-color: $black;

/**
 * Footer Colors
 */
$footer-bg-color: $black;
