// -----------------------------------------------------------------------------
// #zIndex
// -----------------------------------------------------------------------------

/**
 * zIndex map
 * @example scss - When using a CDN
 *    zindex: zindex(nav);
 */
$z-index: (
  bg: 0,
  content: 10,
  nav: 100,
  front: 1000
);
